<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-game-control (intervalFired)= "onIntervalFired($event)" ></app-game-control>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-odd *ngFor="let oddnumber of OddNumber" [number]="oddnumber" ></app-odd>
            <app-even *ngFor="let evennumber of EvenNumber" [number]="evennumber" ></app-even>
        </div>
    </div>
</div>
